# misc
**/.vscode/
**/.idea/

# python
**/.venv/
**/__pycache__/

# rust
**/Cargo.lock
rust_ml/target/
**/*.rs.bk

# model
rust_ml/model/
# model/

# mac files
**/.DS_Store

# images folders
data/benchmark_images
python_ml/benchmark/test_data

# log files
**/*.log
benchmark_logs

python_ml/pytorch/mnist/Inference/model.pt

MNIST